
#sum-array{
    margin-top:5px;
    display:block;
    width:200px;
}
#submit-button{
    margin-top:5px;
    display:block;
    margin-bottom:20px;
}
#first-last-string{
    display:block;
    width:200px;
}
